*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

/********************* HEADER ***********************/
header{
    width: 100%;
    height: 60px;
    
}

header nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
}

ul{
    list-style-type: none;
}

header nav .nav-right-section{
    width: 250px;
    height: auto;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    align-items: center;
}

nav .nav-right-section a {
    margin-right: 15px;
    color: rgb(66, 66, 66);
    font-size: 13px;
}

a {
    color: black;
    outline: none;
    text-decoration: none;
    
}

nav .nav-right-section .menu-icon img{
    width: 35px;
    height: 35px;
    cursor: pointer;
}

nav .nav-right-section img{
    border-radius: 50px;
    margin-left: 0px;
    padding: 5px;
}

a:hover{
    text-decoration: underline;
}

nav a img:hover{
    background-color: #f0f0f0;
    padding: 5px;
}


/********************* MAIN ***********************/
main{
    margin-top: 200px;
    text-align: center;
}

main .main-logo{
    margin: 0 auto; 
    margin-bottom: 25px;
}

main .main-logo img {
    width: 270px;
}

main .main-input {
    width: 600px;
    margin: 0 auto;
    margin-bottom: 30px;
}

main .main-input-container{
    width: 600px;
    height: 48px;
    border-radius: 100px;
    border: 1px solid #dbdbdb;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main-input input{
    width: 450px;
    height: 45px;
    border: none;
    outline: none;
}

main .main-input-container:hover {
    box-shadow: 0 1px 6px 0 #c7c7c7;
    border-color:#d3d3d3;
}

main .main-input .search-item{
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 18px;
    height: 18px;
    margin-right: 20px;
}


main .main-input .micro-item{
    background-image: url("../img/google-mic-logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 15px;
}

main .main-input .img-item{
    background-image: url("../img/Google_Lens_-_new_logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
}


/*----------------BUTTONS-----------------*/
main .main-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 400px;
    margin: 0 auto;
}

main .main-buttons input{
    margin: 5px;
    padding: 9px 20px;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    background-color: #f8f9fa;
    color: rgb(46, 46, 46);
}

main .main-buttons input:hover{
    border: 1px solid #d8d8d8;
    cursor: pointer;
    box-shadow: 0px 2px 2px rgb(233, 233, 233);
    color: black;
}


/*--------------------- FOOTER -------------------------*/

footer {
    display: grid;
    background-color: #f2f2f2;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 13px;
    border-top: 1px solid #e4e4e4;
}

footer ul{
    margin: 10px;
    display: flex;
    padding-left: 0;
}

footer .footer-left ul{
    justify-content: left;
}

footer .footer-right ul{
    justify-content: flex-end;

}

footer ul li a{
    margin: 10px;
}